body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style:dashed;
  border-color: ;
  border-width: 2px;
  width: 100%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
